---
import PageHeader from "@/src/components/page-header.astro";
import SearchResults from "@/src/components/search-results.astro";
import Search from "@/src/components/search.astro";
import Layout from "@/src/layouts/base-layout.astro";
---

<Layout title="melkat.blog - Search" showSearch={false}>
	<div class="mb-8">
  	<PageHeader>
    	<label for="search">Search</label>
  	</PageHeader>
  	<Search />
  	<SearchResults />
	</div>
</Layout>
<script is:inline>
  const params = new URLSearchParams(document.location.search)
  const query = params.get('q')
  const searchEl = document.getElementById('search')
  const hasValue = !!searchEl.value
  if (query && searchEl && !hasValue) {
    searchEl.value = query
  }
</script>
