---
import Layout from '../../layouts/base-layout.astro'
import Browse from '../../components/browse.astro'
import Search from '../../components/search'

const cx = {
  h2: 'mb-4 text-xl font-medium',
}
---

<Layout title="melkat.blog - Search" permalink="/q">
  <h2 class={cx.h2}>Search</h2>
  <Search client:load />
  <Browse />
</Layout>
