---
import Layout from '../../layouts/base-layout.astro'
import PageHeader from '../../components/page-header.astro'
import Search from '../../components/search.astro'
import SearchResults from '../../components/search-results.astro'

const cx = {
  p: 'pv-8 mb-8',
}
---

<Layout title="melkat.blog - Search" showSearch={false}>
  <PageHeader>
    <label for="search">Search</label>
  </PageHeader>
  <Search />
  <SearchResults />
</Layout>
<script>
  const params = new URLSearchParams(document.location.search)
  const query = params.get('q')
  const searchEl = document.getElementById('search') as HTMLInputElement
  const hasValue = !!searchEl.value
  if (query && searchEl && !hasValue) {
    searchEl.value = query
  }
</script>
