@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: rgb(55, 65, 81);
  --light: rgb(209, 213, 219);
}

body {
  color: var(--dark);
  background-color: #ffffff;
}

a {
  color: var(--dark);
}

article {
  border-color: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background-color: #000000;
  }

  a {
    color: var(--light);
  }

  article {
    border-color: rgb(255, 255, 255, 0.25);
  }
}
