---
import Layout from '../../layouts/base-layout.astro'
import { getTagsByCount } from '../../utils/get-posts'
import { noDrafts } from '../../utils/filter'

const cx = {
  div: 'prose prose-melkat dark:prose-invert mb-8',
}

let allPosts = await Astro.fetchContent('../p/*.md')
allPosts = allPosts.filter(noDrafts)
const sortedData = getTagsByCount(allPosts)

---
<Layout
  title='melkat.blog - Posts by tag'
  permalink='/t'
>
  <div class={cx.div}>
    <h2>Posts by tag</h2>
    <ul>
      {sortedData.map(({key, count}) => (
        <li>
          <a href={`/t/${key}`}>{key}</a>
          {count} posts
        </li>
      ))}
    </ul>
  </div>
</Layout>
