---
import { getCollection } from "astro:content";
import PageHeader from "@/src/components/page-header.astro";
import Tag from "@/src/components/tag.astro";
import { title } from "@/src/consts/config";
import Layout from "@/src/layouts/base-layout.astro";
import { noDrafts } from "@/src/lib/filter";
import { getTagsByCount } from "@/src/lib/get-posts";

const allPosts = await getCollection("posts", noDrafts);
const sortedData = getTagsByCount(allPosts).filter(({ count }) => count > 1);
---

<Layout title={`${title} - Posts by tag`} permalink="/t">
	<PageHeader>Posts by tag</PageHeader>
	<ul
  	class="grid grid-cols-2 gap-y-4 gap-x-0 md:grid-cols-4 md:gap-x-2 md:py-2"
	>
  	{
    	sortedData.map(({ key, count }) => (
      	<li>
        	<Tag tag={key} />
        	<span class="pl-4 block text-sm font-semibold">
          	{`${count} ${count === 1 ? 'post' : 'posts'}`}
        	</span>
      	</li>
    	))
  	}
	</ul>
</Layout>
