---
import Layout from '../layouts/base-layout.astro'

const cx = {
  p: 'mv-8',
}
---

<Layout permalink={'/404'}>
  <p class={cx.p}>It looks like I may have goof'd.</p>
  <p>Return <a href="/">home</a>?</p>
</Layout>
