---
import Layout from '../layouts/base-layout.astro'
import { cxs } from '../consts/config'

export const prerender = true

const cx = {
  p: 'mv-8',
  a: cxs.a,
}
---

<Layout permalink={'/404'}>
  <p class={cx.p}>It looks like I may have goof'd.</p>
  <p>Return <a href="/" class={cx.a}>home</a>?</p>
</Layout>
