---
import Layout from '../../layouts/base-layout.astro'

const cx = {
  div: 'prose prose-melkat dark:prose-invert mb-8',
}

let allPosts = await Astro.glob('../p/*.md')
allPosts = allPosts.filter(o => !o.draft)

const data = {}
allPosts.forEach(({ domain }, i) => {
  if (domain) {
    data[domain] = data[domain] ? data[domain] + 1 : 1
  }
})
const sortedData = Object.keys(data).map(key => ({ key, count: data[key] })).sort((a, b) => b.count - a.count)

---
<Layout
  title='melkat.blog - Posts by domain'
  permalink='/d'
>
  <div class={cx.div}>
    <h2>Posts by domain</h2>
    <ul>
      {sortedData.map(({key, count}) => (
        <li>
          <a href={`/d/${key}`}>{key}</a>
          {count} posts
        </li>
      ))}
    </ul>
  </div>
</Layout>
