---
import { cxs } from '../consts/config'

export interface Props {
  truncated?: boolean
}

const { truncated = false } = Astro.props
---

<div class={`${cxs.prose} my-4 ${truncated ? 'p-summary' : 'e-content'}`}>
  <slot />
</div>
