---
const cx = {
  div: 'prose prose-melkat dark:prose-invert',
}
---

<div class={cx.div}>
  <h2>Browse by</h2>
  <ul>
    <li>
      <a href="/c">Category</a>
    </li>
    <li>
      <a href="/d">Domain</a>
    </li>
    <li>
      <a href="/t">Tag</a>
    </li>
  </ul>
</div>
