---
import { cxs } from '../consts/config'

const cx = {
  div: cxs.prose,
}
---

<div class={cx.div}>
  <h2>Browse by</h2>
  <ul>
    <li>
      <a href="/d">Domain</a>
    </li>
    <li>
      <a href="/t">Tag</a>
    </li>
  </ul>
</div>
