---
import Domain from "./domain.astro";
import Time from "./time.astro";

export interface Props {
	date: Date;
	link?: string;
	seperator?: string;
}

const cx = {
	details: "uppercase text-sm my-4",
};

const { date, link, seperator = " • " } = Astro.props;
---

<p class={cx.details}>
  {link && <Domain link={link} />}
  {link ? seperator : ''}
  <Time datetime={date} />
</p>
