---
import getDomain from '../utils/get-domain'
import { cxs } from '../consts/config'

export interface Props {
  link: string
}

const { link } = Astro.props
const domain = getDomain(link)
---

<a class={cxs.a} href={`/d/${domain}`} title={`Posts linking to ${domain}`}
  >{domain}
</a>
