---
import getDomain from '../utils/get-domain'
import { cxs } from '../consts/config'

export interface Props {
  link: string
}

const cx = {
  a: cxs.aHover,
}

const { link } = Astro.props
const domain = getDomain(link)
---

<a class={cx.a} href={`/d/${domain}`} aria-label={`Posts linking to ${domain}`}
  >{domain}
</a>
