---
import Logo from './logo.astro'
import { title } from '../consts/config'

const cx = {
  h1: 'font-light text-4xl my-6',
  link: 'no-underline hover:underline',
  logo: 'inline-block mr-2 align-middle',
}
---

<header role="banner">
  <h1 class={cx.h1}>
    <a href="/" class={cx.link}>
      <div class={cx.logo} title="emoji by dzuk.zone">
        <Logo width={64} />
      </div>{title}
    </a>
  </h1>
</header>
