---
import Button from './button.astro'
import Kbd from './kbd.astro'
import { cxs } from '../consts/config'
---

<div id="key-commands" popover>
  <h2 class={cxs.h2}>Keyboard shortcuts</h2>
  <ul class="mb-3">
    <li><Kbd>l</Kbd> Next page</li>
    <li><Kbd>h</Kbd> Previous page</li>
    <li><Kbd>/</Kbd> Focus search</li>
    <li><Kbd>?</Kbd> Toggle this modal</li>
  </ul>
  <div class="text-right">
    <Button
      popovertarget="key-commands"
      popovertargetaction="hide"
      type="button"
    >
      Dismiss
    </Button>
  </div>
</div>
<script>
  window.onkeydown = e => {
    const keycommandsEl = document.getElementById('key-commands') as HTMLElement

    const target = e.target as HTMLElement
    const targetType = target?.tagName?.toLowerCase()

    if (targetType === 'input' || targetType === 'textarea') {
      return
    }

    const searchEl = document.getElementById('search')
    const prevEl = document.getElementById('prev')
    const nextEl = document.getElementById('next')

    if (keycommandsEl && e.key === '?') {
      e.preventDefault()
      keycommandsEl.togglePopover()
    }

    if (searchEl && e.key === '/') {
      e.preventDefault()
      keycommandsEl.hidePopover()
      searchEl.scrollIntoView({
        behavior: 'smooth',
        block: 'center',
      })
      searchEl.focus()
    }

    if (nextEl && e.key === 'l') {
      e.preventDefault()
      nextEl.click()
    }

    if (prevEl && e.key === 'h') {
      e.preventDefault()
      prevEl.click()
    }
  }
</script>
