---
import Icon from './icon.astro'
import { cxs } from '../consts/config'

export interface Props {
  slug: string
}

const { slug } = Astro.props
---

<like-btn data-slug={`likes-${slug}`}>
  <button class={`${cxs.aIcon} group`} title={`Like this post`} type="button">
    <Icon
      type="like"
      appendClass="transition-transform group-hover:scale-125 group-[.cursor-not-allowed]:scale-100"
    />
    <span>Like</span>
  </button>
</like-btn>
<script>
  class LikeButton extends HTMLElement {
    constructor() {
      super()
      const slug = this.dataset.slug || ''
      const button = this.querySelector('button')
      const svg = button?.querySelector('svg')
      const path = button?.querySelector('svg path')
      const label = button?.querySelector('span')
      button?.addEventListener('click', () => {
        button.disabled = true
        button.classList.add('cursor-not-allowed')
        if (svg && path) {
          svg.classList.add('motion-safe:animate-single-ping')
          path.setAttribute('stroke', '#ea1869')
        }
        if (label?.textContent) {
          label.textContent = 'Liked'
        }
        if (typeof window !== 'undefined') {
          window?.umami.track(slug)
        }
      })
    }
  }
  customElements.define('like-btn', LikeButton)
</script>
