---
import { cxs } from '../consts/config'
import { likeLabel } from '../utils/like-label'
import Icon from './icon.astro'

export interface Props {
  slug: string
}

const { slug } = Astro.props
---

<like-btn data-slug={slug}>
  <button class={`${cxs.aIcon} group`} title={`Like this post`} type="button">
    <Icon
      type="like"
      appendClass="motion-safe:transition-transform group-hover:scale-125 group-[.cursor-not-allowed]:scale-100"
    />
    <span>Like</span>
  </button>
</like-btn>
<script>
  class LikeButton extends HTMLElement {
    constructor() {
      super()
      const slug = this.dataset.slug || ''
      const button = this.querySelector('button')
      const svg = button?.querySelector('svg')
      const path = button?.querySelector('svg path')
      const label = button?.querySelector('span')
      button?.addEventListener('click', () => {
        button.disabled = true
        button.classList.add('cursor-not-allowed')
        if (svg && path) {
          svg.classList.add('motion-safe:animate-single-ping')
          path.setAttribute('stroke', 'oklch(60.71% 0.2743 7.34)')
        }
        if (label?.textContent) {
          label.textContent = 'Liked'
        }
        fetch(`/api/like`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ slug }),
        })
      })
    }
  }
  customElements.define('like-btn', LikeButton)
</script>
