---
import Icon from './icon.astro'
import { cxs } from '../consts/config'

export interface Props {
  slug: string
}

const { slug } = Astro.props
---

<like-btn>
  <button
    class={cxs.aIcon}
    data-umami-event={`likes-${slug}`}
    title={`Like this post`}
    type="button"
  >
    <Icon type="like" />
    <span>Like</span>
  </button>
</like-btn>
<script>
  class LikeButton extends HTMLElement {
    constructor() {
      super()
      const button = this.querySelector('button')
      const svg = button?.querySelector('svg path')
      const label = button?.querySelector('span')
      button?.addEventListener('click', () => {
        button.disabled = true
        if (svg) {
          svg.setAttribute('stroke', '#ea1869')
        }
        if (label?.textContent) {
          label.textContent = 'Liked'
        }
      })
    }
  }
  customElements.define('like-btn', LikeButton)
</script>
