---
import { cxs } from '../consts/config'

export interface Props {
  slug: string
}

const { slug } = Astro.props
const HEART_OUTLINE = '♡'
---

<like-btn>
  <button
    class={cxs.a}
    data-umami-event-slug={slug}
    data-umami-event="like"
    title={`Like this post`}
    type="button"
  >
    <span role="img" aria-label="Heart icon">{HEART_OUTLINE}</span> Like
  </button>
</like-btn>
<script>
  const HEART_FILLED = '♥'
  class LikeButton extends HTMLElement {
    constructor() {
      super()
      const button = this.querySelector('button')
      const heart = button?.querySelector('span')
      button?.addEventListener('click', () => {
        button.disabled = true
        if (heart?.textContent) {
          heart.textContent = HEART_FILLED
        }
      })
    }
  }
  customElements.define('like-btn', LikeButton)
</script>
