---
const cx = {
  fill: 'fixed inset-0 motion-safe:transition z-10 justify-around items-center bg-white/15 dark:bg-black/15 backdrop-blur-sm',
  card: 'rounded-xl shadow-xl shadow-cerulean-501/20 bg-white/95 dark:bg-black/95 p-6 max-h-[100svh] w-80 overflow-auto ring-2 ring-cerulean-501/50 ',
}
const { ...rest } = Astro.props
---

<div {...rest} class={cx.fill} style="display: none; opacity: 0">
  <div class={cx.card}>
    <slot />
  </div>
</div>
