---
import Icon from './icon.astro'
import { cxs } from '../consts/config'

export interface Props {
  title: string
  url: string
}

const { title, url } = Astro.props
---

<a class={`${cxs.aIcon} group`} href={url} title={`Permalink for ${title}`}
  ><Icon
    type="permalink"
    appendClass="group-hover:motion-safe:animate-single-spin"
  /> Permalink
</a>
