---
import { cxs } from '../consts/config'

export interface Props {
  title: string
  url: string
}

const { title, url } = Astro.props
---

<a class={cxs.a} href={url} title={`Permalink for ${title}`}
  ><span role="img" aria-label="Star icon">★</span> Permalink
</a>
