---
import { cxs } from '../consts/config'

const cx = {
  a: cxs.aHover,
}
const { title, url } = Astro.props
---

<a class={cx.a} href={url} aria-label={`Permalink for ${title}`}
  ><span role="img" aria-label="Star icon">★</span> Permalink
</a>
