---
import Icon from './icon.astro'
import { cxs } from '../consts/config'

export interface Props {
  title: string
  url: string
}

const { title, url } = Astro.props
---

<share-btn data-title={title} data-url={url}>
  <button class={`${cxs.aIcon} group`} title={`Share this post`}
    ><Icon
      type="share"
      appendClass="group-hover:motion-safe:animate-single-wobble"
    /> Share
  </button>
</share-btn>
<script>
  class ShareButton extends HTMLElement {
    constructor() {
      super()
      const { title, url } = this.dataset
      const canShare = navigator.share !== undefined
      const button = this.querySelector('button')
      if (!canShare) {
        button?.remove()
      }
      button?.addEventListener('click', () => {
        navigator.share({
          title,
          url,
        })
      })
    }
  }
  customElements.define('share-btn', ShareButton)
</script>
