---
import { getCollection } from "astro:content";
import { cxs } from "@/src/consts/config";
import { noDrafts } from "@/src/lib/filter";
import { getPostsByTag } from "@/src/lib/get-posts";

const allPosts = await getCollection("posts", noDrafts);
const slashpages = getPostsByTag(allPosts, "slashpage");
---

<ul class="my-8 flex flex-wrap gap-y-4 gap-x-3 text-lg justify-center">
	{slashpages.map(({ slug, data: { title, link } }) => (
		<li><a class={cxs.a} href={link ? link : `/p/${slug}`} title={title}>/{slug}</a></li>
	))}
</ul>
