---
import { cxs } from "@/src/consts/config";
import Icon from "./icon.astro";

export interface Props {
	tag: string;
}

const { tag } = Astro.props;
---

<a
  class={`${cxs.aIcon} gap-[0] group p-category`}
  href={`/t/${tag}`}
  aria-label={`Posts tagged #${tag}`}
  ><Icon type="tag" appendClass="group-hover:motion-safe:animate-trace" />{tag}
</a>
