---
import { cxs } from '../consts/config'

export interface Props {
  tag: string
}

const cx = {
  a: cxs.aHover,
}
const { tag } = Astro.props
---

<a class={cx.a} href={`/t/${tag}`} aria-label={`Posts tagged #${tag}`}
  >#{tag}
</a>
