---
import { cxs } from "@/src/consts/config";
import Icon from "./icon.astro";
import PageHeader from "./page-header.astro";

export interface Props {
	title: string;
	link: string;
	isExternal?: boolean;
	small?: boolean;
}

const {
	title = "",
	link = "",
	isExternal = false,
	small = false,
} = Astro.props;
---

<PageHeader>
  <a
    href={link}
    class={`${small ? 'text-xl' : 'text-3xl sm:text-4xl'} ${cxs.a} group p-name font-cartridge ${isExternal ? 'u-in-reply-to' : ''}`}
    title={`${isExternal ? 'Link to ' : 'Permalink for '}${title}`}
  >
    {title}{
      isExternal && (
        <Icon
          type="external"
          className="ml-1 inline w-5 h-5 group-hover:motion-safe:animate-single-wobble"
        />
      )
    }
  </a>
</PageHeader>
