---
import PageHeader from './page-header.astro'
import { cxs } from '../consts/config'

const { title = '', link = '', isExternal = false } = Astro.props
---

<PageHeader>
  <a
    href={link}
    class={cxs.a}
    aria-label={`${isExternal ? 'Link to ' : 'Permalink for '}${title}`}
  >
    {title}
  </a>
</PageHeader>
