---
import Icon from './icon.astro'
import PageHeader from './page-header.astro'
import { cxs } from '../consts/config'

export interface Props {
  title: string
  link: string
  isExternal?: boolean
  small?: boolean
}

const { title = '', link = '', isExternal = false, small = false } = Astro.props
---

<PageHeader>
  <a
    href={link}
    class={`${small ? 'text-xl' : 'text-2xl md:text-3xl'} ${cxs.a} group p-name ${isExternal && 'u-in-reply-to'}`}
    title={`${isExternal ? 'Link to ' : 'Permalink for '}${title}`}
    style={{ textWrap: 'balance' }}
  >
    {title}{
      isExternal && (
        <Icon
          type="external"
          className="ml-1 inline w-5 h-5 group-hover:motion-safe:animate-single-wobble"
        />
      )
    }
  </a>
</PageHeader>
