---
import { marked } from 'marked'

const { content, url } = Astro.props

const cx = {
  link: 'font-bold hover:underline',
}

const truncatedHtml = marked(content)
---

<div set:html={truncatedHtml} />
<a href={url} class={cx.link}>Read more</a>
