<html lang="en">
  <head>
    <title>melkat.blog - cms</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="mask-icon" sizes="any" href="/mask-icon.svg" color="#0caceb" />
    <script
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      defer></script>
  </head>
  <body>
    <script type="module">
      import CMS from 'netlify-cms-app'
      CMS.init()
    </script>
  </body>
</html>
